[[source]]
name = "pypi"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django = "*"
django-filter = "*"
markdown = "*"
django-guardian = "*"
pygments = "*"
gunicorn = "*"
gevent = "*"
python-weixin = "*"
django-environ = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
