@font-face {
  font-family: 'iconfont';  /* project id 1629564 */
  src: url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.eot');
  src: url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1629564_lo8nfp8o8p8.svg#iconfont') format('svg');
}

.x-icon {
  display: inline-block;
  &:before {
    font-family: 'iconfont' !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
  }
}

.x-icon-question-circle::before {
  content: '\e82d';
}

.x-icon-search::before {
  content: '\e831';
}

.x-icon-plus::before {
  content: '\e826';
}

.x-icon-minus::before {
  content: '\e81f';
}

