@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.species-status-panel {
  height: 150px;
  width: 100vw;
}

.status {
  padding: 0.1rem 0.2rem 0.1rem 0.8rem;
}


