.container {
  height: 200px;
  width: 95vw;
  background: #FFFFFF;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;

  .default {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content {
      .name {
        padding-top: 30px;
        padding-left: 30px;
        font-size: 60px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .short-description {
        font-size: 32px;
        line-height: 32px;
        color: #767676;
        padding-top: 20px;
        padding-left: 30px;
      }
    }
    .action {
      padding-top: 30px;
      padding-right: 20px;
      font-size: 100px;
      color: #767676;
    }
  }
}
